#banner{
    overflow: hidden;
    width:968px;
}
#imgs{
    overflow: hidden;
    left:0;
    position: relative;
}
#imgs li{
    left:0;
    top:0;
    float:left;
}
#idxs{
    overflow: hidden;
    float: left;
    margin-left:460px;
}
#idxs li{
    border:2px solid #ddd;
    width:8px;
    height:8px;
    border-radius: 4px;
    float:left;
    margin: 5px;
}
#idxs li:hover,#idxs li.active{
    border-color:#c11000;
}
#main{
    overflow: hidden;
}
.left{
    width:220px;
    float:left;
    border-right: 1px solid #c11000;
}
.left li:first-child b{
    float:left;
    width:27px;
    height:30px;
    background: url(../images/iconlist_1.png) no-repeat -39px 0;
    margin-right: 5px;
}

.left li{
    border: 1px solid #ddd;
    border-left-color: transparent;
    box-shadow:0px 9px 17px -15px #121D12;
    /*padding:8px 0;*/
    padding-left:37px;
}
.left li:first-child{
    color: #c11000;
    font-weight: bold;
    font-size: 15px;
    line-height:30px;
    padding-left:5px;
}
.left li:not(:first-child):hover,.left li:not(:first-child).hover{
    border:1px solid #c11000;
    border-right: 0;
    background: #fff;
    box-shadow: none;
}
.left li a{
    display: inline-block;
    /*height:34px;*/
    width:183px;
    padding:10px 0;
    font-size: 15px;
}
.left li:not(:first-child):hover a,.left li:not(:first-child).hover a{
    background: #fff;
    font-weight: bold;
}
.left li a:hover{
    text-decoration: none;
}
.right{
    margin-left:240px;
}
.right>div{
    display: none;
}
.right>div:first-child{
    line-height: 30px;
    border-bottom:2px solid #c11000;
    display: block;
}
.right>div:nth-child(2){
     display: block;
 }
.right>div:first-child b{
    display: inline-block;
    width:11px;
    height:10px;
    background:url(../images/iconlist_1.png) no-repeat;
    margin-top:7px;
    margin-right:5px;
}
.right>div:first-child span{
    font-weight: bold;
    font-size: 15px;
}
.right>div:first-child span:last-child{
    color:#c11000;
}
.right>div div{
    overflow: hidden;
}
.right>div h2{
    line-height: 100px;
    text-align: center;
    color:#000;
}
.right>div div{
    line-height:25px;
    border-bottom:1px dashed #000;
}
.right>div:not(:first-child) div li{
    float: left;
    margin-left:30px;
}
.right>div p{
    color:#000;
    text-indent: 24px;
    font-size: 15px;
    line-height:20px;
    padding-top:10px;
}

